.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.full-screen {

    background: #ffffff;

    position: absolute;
    /*top: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    /*bottom: 0;*/
    width: 100%;
    height: 100%;
}

.content {
    padding: 24px;
}

.flex-vertical {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.height-two-thirds {
    flex: 2;
}

.height-one-third {
    flex: 1;
}

.station-information__content {
    flex-grow: 1;
    background: url(https://upload.wikimedia.org/wikipedia/commons/3/36/Fru%C3%A4ngen_2010a.jpg);
}

.station-information__toolbar {
    display: flex;
    flex-direction: row;
}

.station-information__toolbar > a {
    flex: 1;
}

.station-information__toolbar__icon {
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 12px;
    padding: 4px;
    background: #ffffff;

    font-size: 2em;
    color: #000000;

}


.map-text {
    font: 12pt sans-serif;
}

.map-text-bold {
    font: bold 12pt sans-serif;
}

table {

}

table tr {

}
