html, body {
    height: 100%;
    margin: 0;
}

.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.full-screen {
    background: #ffffff;
    width: 100%;
    height: 100%;
}

.content-header {
    padding: 12px;
    margin: 0 auto;
    color: rgb(222, 102, 56);
}

.text-content {
    padding: 24;
}

.flex-vertical {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.height-two-thirds {
    flex: 2;
}

.height-one-third {
    flex: 1;
}

.station-information__content {
    flex-grow: 1;
    background: url(https://upload.wikimedia.org/wikipedia/commons/3/36/Fru%C3%A4ngen_2010a.jpg);
}

.station-information__minimap {
    flex: 1;
    background: #000;
}

.station-information__toolbar {
    display: flex;
    flex-direction: row;
}

.station-information__toolbar > a {
    flex: 1;
}

.station-information__toolbar__icon {
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 12px;
    padding: 4px;
    background: #ffffff;

    font-size: 2em;
    color: #000000;

}

.go-back {
    text-align: right;
    padding: 8px;
    text-decoration: none;
}

.map-text {
    font: 12pt sans-serif;
}

.map-text-bold {
    font: bold 12pt sans-serif;
}

table {

}

table tr {

}

.box {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.box .row {
    border: 1px dotted grey;
}

.box .row.header {
    flex: 0 1 auto;
}

.box .row.content {
    flex: 1 1 auto;
}

.box .row.footer {
    flex: 0 1 40px;
}
