certifi==2018.4.16
chardet==3.0.4
Django==2.1.3
django-cors-headers==2.3.0
django-filter==1.1.0
django-jet==1.0.7
djangorestframework==3.8.2
idna==2.7
jet==1.0
Markdown==2.6.11
Pillow==5.2.0
pytz==2018.5
requests==2.20.1
urllib3==1.23
